tr,th{
    text-align: center;
    background-color: rgba(71, 125, 71, 1);
    color: white;
}
img{
    width: 10dvw;
}

.body-cell{    
    text-align: center;
    justify-content: center;
}

.mat-mdc-cell {
    vertical-align: middle;
  }