
    .logo {
        position:fixed;
        background-image: url("../../../../assets/background.png");
        background-repeat: no-repeat;
        background-size:auto;
        bottom: 0;
        top: 0;
        left: 0%;
        right: 0;
        padding: 0%;   
        text-align: center;
    }

  
.img{
    text-align: center;
        margin-bottom: 0%;
        margin-top: 1.5%;
}