$phone:480px;
$tablet:728px;
$desktop:1024px;

@media (max-width:$phone){
    .logo{
        text-align: center;
    }
}
  

@media (min-width:$phone) and (max-width: $tablet){

  
}
@media (min-width:$desktop) {

  
}