$phone:480px;
$tablet:728px;
$desktop:1024px;

@media (max-width:$phone){
  input{
    background-color: rgba(255, 229, 176, 1);
    border-radius: 5%;
    border: 1px solid black;
    width: 110%;
    height: 100%;
}
.container{
    background-color: rgba(255, 209, 111, 1);
    border-radius: 5%;
    width: 90%;
    border: 1px solid maroon;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1%;
    margin-top: 4%; 
}
.form-group{
display: flex;
flex-direction: column;
align-items: left;
margin-bottom: 14%;
margin-top: -17%;
font-weight: bold;
}
button{
padding: 5% 15% 5% 15%;
border-radius: 4%;
background-color: rgba(255, 229, 176, 1);
border: 1px solid black;
color:black;
font-weight: bold;
margin-left: 50%;
margin-top: -5%;
text-align: center;
}
.form-control{
  height: 9dvw;
  margin-top: 15%;

}
.forgot{
  text-align: center;
  margin-top: 10%;
}
label{
  margin-top: 15%;
  text-align: left;
}
}
@media (min-width: $tablet){
input{
    background-color: rgba(255, 229, 176, 1);
    border-radius: 5%;
    border: 1px solid black;
    width: 100%;
    height: 100%;
}
.container{
    background-color: rgba(255, 209, 111, 1);
    border-radius: 5%;
    width: 50%;
    border: 1px solid maroon;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1%;
    margin-left: 23%;
    margin-top: 4%; 
}
.form-group{
display: flex;
flex-direction: column;
align-items: left;
margin-bottom: 14%;
margin-top: -17%;
font-weight: bold;
}
button{
padding: 5% 15% 5% 15%;
border-radius: 4%;
background-color: rgba(255, 229, 176, 1);
border: 1px solid black;
color:black;
font-weight: bold;
margin-left: 50%;
margin-top: -5%;
text-align: center;
}
.form-control{
  width: 20dvw;
  height: 4dvw;
  margin-top: 8%;

}
.forgot{
  text-align: center;
  margin-top: 10%;
}
label{
  margin-top: 15%;
  text-align: left;
}
}
@media (min-width:$desktop) {
  input{
    background-color: rgba(255, 229, 176, 1);
    border-radius: 5%;
    border: 1px solid black;
    width: 100%;
    height: 100%;
}
.container{
    background-color: rgba(255, 209, 111, 1);
    border-radius: 5%;
    width: 50%;
    border: 1px solid maroon;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1%;
    margin-left: 24%;
    margin-top: 1%; 
}
.form-group{
display: flex;
flex-direction: column;
align-items: left;
margin-bottom: 14%;
margin-top: -17%;
font-weight: bold;
}
button{
padding: 5% 15% 5% 15%;
border-radius: 4%;
background-color: rgba(255, 229, 176, 1);
border: 1px solid black;
color:black;
font-weight: bold;
margin-left: 50%;
margin-top: -5%;
text-align: center;
}
.form-control{
  width: 20dvw;
  height: 4dvw;
  margin-top: 8%;

}
.forgot{
  text-align: center;
  margin-top: 10%;
      margin-left: 23%;
}
label{
  margin-top: 15%;
  text-align: left;
}
}
  