.container {
  width: 90%;
  margin: 14%, auto;
  margin-top: 5%;
  background-color: rgba(255, 209, 111, 1);
  border-radius: 5%;
  padding: 1%;

  .form-group {
    margin-bottom: 20px;
    width: 90%;
    text-align: center;
    margin-top: 5%;

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      text-align: left;
      margin-left: 10%;
    }

    input[type="text"],
    input[type="password"] {
      width: 90%;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid  maroon;
      background-color: rgba(255, 229, 176, 1);
      margin-left: 8%;
    }
    .form-group.error-message{
      color: red;
      margin-top: 5px;
      margin-left: 8%;
    }
    }
    .error-message{
      color: red;
      margin-top: 5px;
      margin-left: 8%;
    }
    .forgot{
      margin-left: 3%;
    }
  }

  button {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 8%;
  }


@media (min-width: 576px) {
  .container {
    width: 70%;
    }
   
}

@media (min-width: 768px) {
  .container {
    width: 50%;
  }

}

@media (min-width: 992px) {
  .container {
    width: 30%;
    text-align: left;
    padding-left: 1%;
    padding-top: 1.5%;
  }
 
}
