<div class="row">
    <div class="col-6 col-md-2">
      <div class="origen">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Origen
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item"  (click)="listanimals()">America</a></li>
            <li><a class="dropdown-item" (click)="listanimals()">Europa</a></li>
            <li><a class="dropdown-item"  (click)="listanimals()">Asia</a></li>
            <li><a class="dropdown-item" (click)="listanimals()">Oceania</a></li>
            <li><a class="dropdown-item"  (click)="listanimals()">Africa</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-2">
      <div class="ejemplares">Ejemplares</div>
      <div class="count">50</div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12 col-md-4 families"><img class="img_families" src="../assets/families1.png"></div>
    <div class="col-sm-12 col-md-4 families"><img class="img_families" src="../assets/families2.png"></div>
    <div class="col-sm-12 col-md-4 families"><img class="img_families" src="../assets/families3.png"></div>
    <div class="col-sm-12 col-md-6 families-abajo"><img class="img_families" src="../assets/families4.png"></div>
    <div class="col-sm-12 col-md-6 families-abajo"><img class="img_families" src="../assets/families5.png"></div>
  </div>
  