<div class="row">
    <div class="col-6">Origen</div>
    <div class="col-6">Ejemplares <div class="count">50</div>
    </div>

</div>
<div class="container_families">
    <div class="families"><img class="img_families" src="../assets/families1.png"></div>
    <div class="families"><img class="img_families" src="../assets/families2.png"></div>
    <div class="families"><img class="img_families" src="../assets/families3.png"></div>
    <div class="families"><img class="img_families" src="../assets/families4.png"></div>
    <div class="families"><img class="img_families" src="../assets/families5.png"></div>
</div>
